<link rel="stylesheet" href="https://cdn.omegarelectrice.com/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.omegarelectrice.com/fa-pro-6.4.2/css/all.css">
<link rel="stylesheet" href="https://cdn.omegarelectrice.com/toastr/toastr.min.css">
<link rel="stylesheet" href="/views/css/common.css?v=1">

<!-- page header -->
<div class="page-header">
    <div class="page-navbar">

        <a href="/" class="navbar-item">
            <i class="fa-solid fa-home"></i>
            خانه
        </a>

        <div class="dropdown">
            <button class="navbar-item dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-command"></i>
                مدیریت محتوا
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a href="/products" class="dropdown-item">لیست محصولات</a>
                    <a href="/products/featured" class="dropdown-item">مدیریت کمپین ها</a>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="navbar-item dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-shopping-bag"></i>
                سفارش
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a href="/orders" class="dropdown-item">لیست سفارش ها</a>
                    <a href="/orders/new" class="dropdown-item">ثبت سفارش دستی</a>
                </li>
            </ul>
        </div>

        <a target="_blank" href="https://autosam.github.io/shop" class="navbar-item">
            <i class="fa-solid fa-mobile-alt"></i>
            نمای کاربر
        </a>
        <img class="user-logo" src="/resources/img/icon_01.png"></img>
    </div>
</div>

<script src="https://cdn.omegarelectrice.com/bootstrap/js/bootstrap.bundle.min.5.0.2.js"></script>