<link rel="stylesheet" href="/views/css/common.css">

<div class="page-header">
    <div class="page-navbar">
        <a href="/" class="navbar-item">
            <i class="fa-solid fa-home"></i>
            خانه
        </a>
        <a href="/products" class="navbar-item">
            <i class="fa-solid fa-list"></i>
            لیست محصولات
        </a>
        <a href="/orders" class="navbar-item">
            <i class="fa-solid fa-shopping-bag"></i>
            لیست سفارش ها
        </a>
        <a target="_blank" href="https://autosam.github.io/shop" class="navbar-item">
            <i class="fa-solid fa-mobile-alt"></i>
            نمای کاربر
        </a>
        <img class="user-logo" src="/resources/img/icon_01.png"></img>
    </div>
</div>